[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dfmirroR"]
	path = dfmirroR
	url = https://github.com/jacobpstein/dfmirror
[submodule "pii"]
	path = pii
	url = https://github.com/jacobpstein/pii
[submodule "usaidplot"]
	path = usaidplot
	url = https://github.com/jacobpstein/usaid_plot
